<form class="dados">
  <div class="screen">

    <div class="screen__content">
      <div class="login">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>

          <h2>Dados</h2>
          <div *ngFor="let transferencia of transferencias">
            <p>Data:{{ transferencia?.data}}</p>
            <p>Valor:{{transferencia?.valor}}</p>
            <p>Destino:{{transferencia?.destino}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


