<form>
<div class="container">

	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
          <h2>Nova Transferencia</h2>
          <div>
            <label for="valor">Valor:</label>
            <input type="text" id="valor">
          </div>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
          <div>
            <label for="destino">Destino:</label>
            <input type="text" id="destino">
          </div>
				</div>
				<button class="button login__submit">
					<span class="button__text">Transferir</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
        <div class="social-login">
          <div class="social-icons">
            <a href="https://cdn-icons-png.flaticon.com/128/1384/1384015.png"></a>
            <a href="https://cdn-icons.flaticon.com/png/128/4494/premium/4494464.png?token=exp=1654138520~hmac=a8cc67c9c23f4c7524b345ad13bf3720"></a>
            <a href="https://cdn-icons.flaticon.com/png/128/4494/premium/4494465.png?token=exp=1654138520~hmac=7c3e048ef26c0a50fad761ec470d736f"></a>
          </div>
        </div>
			</form>

		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
</form>
<footer>
<div class="footer">
<div class="row">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-youtube"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
</div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
</ul>
</div>

<div class="row">
  LAISE FRANCE Copyright © 2022
</div>
</div>
</footer>
