
<div class="colunas">
<form class="formulario" (ngSubmit)="transferir()">
    <div class="screen">

      <div class="screen__content">
        <div class="login">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>

            <h2>Nova Transferencia</h2>
            <div>
              <label for="valor">Valor:</label>
              <input type="text" id="valor" name="valor" [(ngModel)]="valor"/>
            </div>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <div>
              <label for="destino">Destino:</label>
              <input type="text" id="destino" name="destino" [(ngModel)]="destino"/>
            </div>
          </div>
          <div class="botao-wrapper">
          <button class="botao" type="submit">Transferir</button>
          </div>
        </div>
      </div>

      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </form>
</div>
 